<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{.title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
    <div style="
      margin-left: auto;
      margin-right: auto;
      width: 400px;
      border: 1px solid;
      text-align: center;"
    >
      <a href="/">Twitter Clone App</a>
      <a href="/users">User一覧</a>
      <p>Login User {{.name}}</p>
      <form action="/tweet" method="post">
        <div>
          <textarea name="content" cols="30" rows="10"></textarea>
        </div>
        <div>
          <input type="submit" value="Tweet!">
        </div>
      </form>
      {{range $index, $tweet := .tweets}}
        <div style="border-top: 1px solid;">
          <span>{{$tweet.User.Name}}</span>
          <span>{{$tweet.CreatedAt.Format "2006/01/02 15:04:05"}}</span>
          <p>{{$tweet.Content}}</p>
        </div>
      {{end}}
    </div>
  </body>
</html>
