<body> 
  <a href="/">Twitter Clone App</a>
  <h2>Sign up</h2>
  <p>{{.err}}</p>
  <form action="/signup" method="post">
    <div>
      <label for="name">name: </label>
      <input type="text" name="name" required>
    </div>
    <div>
      <label for="email">email: </label>
      <input type="text" name="email">
    </div>
    <div>
      <label for="password">password: </label>
      <input type="text" name="password" required>
    </div>
    <div class="form-example">
      <input type="submit" value="Sign up!">
    </div>
    <a href="/signin">Sing in</a>
  </form>
</body>
